// -------------------------------------------------------------------------
// CSS RESET
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  
  
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* 9. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}
// END CSS RESET 
// -------------------------------------------------------------------------


// Adding font face 
// -------------------------------------------------------------------------
@font-face {
  font-family: 'Figtree';
  src: url('/assets/Figtree-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap; // Allows fallback while font loads
}

$global-font-family: 'Figtree', sans-serif;

// -------------------------------------------------------------------------




// my variables 
$yellow: #F4D04E;
$dark-gray: #111111;
$light-gray: #6b6b6b;
$white: #ffffff;





body{
  background: $yellow;
  justify-content: center;
  
  main{
    margin: auto;
  }
  .card-container{
    max-width: 384px;
    padding: 24px;
    background: white;
    border-radius: 20px;
    position: relative;
    border: 1px solid $dark-gray;
    font-family: $global-font-family;
    color: $dark-gray;
    left: -3px;
    
    @media screen and (max-width: 641px){
      max-width: 327px;
    } 
    &:after{
      content: "";
      border-radius: 20px;
      height: 100%;
      width: 100%;
      background-color: $dark-gray;
      position: absolute;
      top: 7px;
      left: 8px;
      display: block;
      z-index: -1;
      
    }
    
    .card-image{
      border-radius: 10px;
      overflow: hidden;
      svg{
        &.desktop-img{
          display: block;
        }
        &.mob-img{
          display: none;
        }
        @media screen and (max-width: 641px){
          &.desktop-img{
            display: none;
          }
          &.mob-img{
            display: block;
          }
        }
      }
    } 
    .card-content{
      margin: 24px auto;
      .card-tag{
        padding: 4px 12px;
        background: $yellow;
        font-weight: 800;
        font-size: 14px;
        width: fit-content;
        border-radius: 4px;
        margin-bottom: 12px;
        line-height: 150%;
        @media screen and (max-width: 641px){
          font-size: 12px;
        }
      }
      
      
      
      .card-date{
        line-height: 150%;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 12px;
        @media screen and (max-width: 641px){
          font-size: 12px;
        }
      }
      .card-title{
        font-size: 24px;
        font-weight: 800;
        line-height: 150%;
        margin-bottom: 12px;
        @media screen and (max-width: 641px){
          font-size: 20px;
        }
        a{
          text-decoration: none;
          color: $dark-gray;
          transition: color .35s ease; 
          &:hover,
          &:focus,
          &:active{
            color: $yellow;
          }
        }
      }
      .card-description{
        color: $light-gray;
        @media screen and (max-width: 641px){
          font-size: 14px;
        }
      }      
    }
    .card-author{
      display: flex;
      gap: 12px;
      align-items: center;
      .avatar{
        height: 32px;
        width: 32px;
      }
      .name{
        font-weight: 800;
        font-size: 14px;
        line-height: 150%;
      }
    }
  }
  
}