// -------------------------------------------------------------------------
// CSS RESET
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
// END CSS RESET 
// -------------------------------------------------------------------------


.attribution {
	font-size: 0.6875rem; /* 11px */
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.attribution {
	position: relative;
	bottom: 0;
	margin-top: auto;
}

body {
	margin: 0;
	min-height: 100vh;
	background: #D5E1EF;
	display: flex;
	flex-direction: column;

	main {
		display: flex;
		align-items: center;
		min-height: 100%;
		margin-top: auto;
	}
}

.qr-code-container {
	background: white;
	border-radius: 15px;
	padding: 15px 15px 40px;
	margin: auto;
	.scan-container {
		height: 290px;
		width: 290px;
		border-radius: 10px;
		margin-bottom: 20px;
	}
	.text-container {
		text-align: center;
		max-width: 265px;
		margin: 0 auto;
	}
	.qr-title {
		margin-bottom: 15px;
		font-family: "Outfit", sans-serif;
		font-optical-sizing: auto;
		color: hsl(218, 44%, 22%);
		font-weight: 700;
		font-style: normal;
		font-size: 1.375rem; /* 22px */
		h2 {
			font-size: 1.375rem; /* 22px */
		}
	}
	.qr-description {
		font-family: "Outfit", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		color: hsl(216, 15%, 48%);
		max-width: 280px;
	}
}